# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Virtual Environment
./.venv/
venv/
.venv/
env/
.venv/
.deepeval/
# Environment Variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
reports/output/
*.pdf

# Logs
*.log
